{% extends 'base.html' %}
{% block title %} About Us {% endblock %}

{% block content %}
{% include 'partials/nav-bar.html' %}


<div class="jumbotron">
<h1>Welcome to Blogg</h1><br/>
<p style="font-size: 0.9em;"> Need a personal profile,designed by you,then you're in correct place.</p>
<p style="font-size: 0.9em;"> We will help you to publish your personal profile for your  professional Includes </p>
</div>
<pre class="container jumbotron">
Welcome <b>{{ user.username }}</b>
yeaaaaaaaaaaaaaaaaaaaaaaaah! this is us

we are developing this With <strong>Django</strong>
</pre> 

{% endblock %}