{% extends 'base.html' %}
{% block title %}Blue D | Home{% endblock %}


{% block content %}
{% include 'partials/nav-bar.html' %}
<div class="jumbotron">
    <h1 style="color: #3498db" >Blue D</h1>
    <p>Welcome to Blue D this WebSite is created by <kbd >Venkat Maragani</kbd></p>
    <p style="font-size: 0.8em;">this website can be used for other purposes go to <a href="{% url 'about' %}">about</a> for more info</p>
</div>
<div class="jumbotron">
{% if user.is_authenticated %}
Welcome <b>{{ user.username }} !</b>
{% else %}
    <p>You are not logged in</p>
    <p>LogIn to an account please</p>
{% endif %}
</div>
{% endblock %}