{% extends 'base.html' %}
{% block title %}Blue D | Posts{% endblock %}


{% block content %}
{% include 'partials/nav-bar.html' %}
<br>
    <div class="container">
        {% for i in posts %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{ i.title }} </h5>
                    <pre class="card-text"> {{ i.text }}</pre>
                    <span><b>author </b>- {{ i.author }}</span>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}